<div class="hero-unit text-align-center">
  <h1>Our Studio</h1>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero quam, luctus vel lobortis eget, sollicitudin
    ac leo. Phasellus fermentum semper euismod. In at elit orci, in vehicula risus. Etiam nisi odio, pretium et
    imperdiet at, accumsan at dui. Fusce vitae elit ut enim tempus tempor.
  </p>

  <h3>Its your studio. Get featured here</h3>

  <p>

  <div class="offset3">
    <%= form_for Song.new, :html => {:class => 'form-horizontal text-align-left'} do |f| %>
        <div class="control-group">
          <%= f.label :uploader_name, "Your Name", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :uploader_name, :placeholder => 'Your full name', :required => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :uploader_email, "Your Email", :class => 'control-label' %>
          <div class="controls">
            <%= f.email_field :uploader_email, :placeholder => 'name@email.com', :required => true %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :attachment, "Your Songs", :class => 'control-label' %>
          <div class="controls">
            <%= f.file_field :attachment, multiple: true, name: "song[attachment]", required: true %>
          </div>
        </div>
    <% end %>
  </div>
  </p>
</div>

<script id="template-upload" type="text/x-tmpl">
  <div class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%;"></div></div>
  </div>
</script>